<a name="Contact"></a>
      <div class=" cb col-md">
          <h1>CONTACTO</h1>
      </div>
     
      <section class="container custom-section">
          <div class=" row">
              <div class="col-md" data-aos="fade-up" data-aos-offset="300"
                  data-aos-duration="500
">
                  <img src="assets/images/contacto.jpg " class="img-fluid" alt="...">
              </div>
              <div class="cb col-md">
                  <p class="card-text">
                 
                      <li>Whatsapp</li>
                      <li>Instagram</li>
                      <li>Facebook</li>
                      <li>e-mail</li>
                 
                  </p>
              </div>

          </div>

      </section>
                   
