<a name="Perfil"></a>
<div class="espacio"></div>
<div class=" cb col-md" data-aos="fade-up">
  <h1>PERFIL</h1>
</div>
<section class=" container custom-section">
<div class=" row">
    <div class="col-md" data-aos="fade-up" data-aos-offset="100" data-aos-duration="500
">

        <img src="assets/images/Foto_six1.jpg" class="img-fluid img" alt="...">
    </div>
    <div class="cb col-md">
        <p class="card-text">

            Ingeniero en automatización y control industrial
            con vasta experiencia en puesta en marcha Y
            mantenimiento de plantas industriales.
            <a name="idiomas"></a>
        </p>
    </div>

</div>

</section>
