
      <div class=" cb col-md" data-aos="fade-up">
        <h1>IDIOMAS</h1>
    </div>
    <section class="container custom-section">
      <div class=" row">
        <div class="col-md" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500">
                                <img src="assets/images/Idiomas.jpg" class="img-fluid" alt="...">
                            </div>
                            <div class="cb col-md">
                              <p class="card-text">
                                <li>Español Nativo</li>
                                        <li>Ingles avanzado</li>
                                        <li>Portugues intemedio</li>
                                        <li>Italiano Básico</li>
                                        <li>Francés Básico</li>
                                        <a name="Expe"></a>
                            </p>
                           
                            </div>
      </div>
    </section>
