
    <div class=" cb col-md" data-aos="fade-up">
      <h1>EXPERIENCIA</h1>
  </div>
  
  <section class="container custom-section">
      <div class=" row">
          <div class="col-md" data-aos="fade-up" data-aos-offset="250" data-aos-duration="500
">
              <img src="assets/images/Faurecia_2.jpg" class="img-fluid" alt="...">
          </div>
          <div class="cb col-md">

              <p class="card-text">
                  FAURECIA ARGENTINA -SISTEMAS DE INTERIOR
                  Gerente corporativo de Mantenimiento e ingeniería de planta
                  Responsable de la estructura de mantenimiento e ingeniería de planta.
                  Definición de especificaciones de instalaciones y seguimiento del montaje de las
                  plantas
                  productivas.
                  Tuve bajo mi responsabilidad una planta de inyección de plásticos y una planta de
                  fabricación de
                  asientos, con un
                  grupo a cargo, formado por tres profesionales y siete técnicos.
                  Montaje y puesta en marcha de nuevos equipamientos. Definición de herramientas y
                  modos de
                  proceso.
                  Validaciones de los diferentes procesos
                  Como ejemplo de las puestas en marcha realizadas, pueden nombrase el montaje y
                  puesta en
                  servicio de
                  inyectoras Krauss-mafei de 1600 T y 2500 T con robots cartesianos Sepro y del mismo
                  modo
                  para
                  celdas
                  de
                  soldadura por US con PLC y robots Fanuc de 6 ejes
                  Aplicación de TPM y 5S a celdas productivas y mantenimiento
              </p>
          </div>

      </div>

  </section>
  <section class="container custom-section">
      <div class=" row">
          <div class="col-md" data-aos="fade-up" data-aos-offset="300" data-aos-duration="500
">
              <img src="assets/images/FSC.jpg" class="img-fluid" alt="...">
          </div>
          <div class="cb col-md">
              <p class="card-text">
                  FUNDICIÓN SAN CAYETANO
                  Responsable del mantenimiento de las plantas de fundición y mecanizado, definición
                  de
                  especificaciones de
                  instalaciones y seguimiento del montaje de ambas plantas.
                  Definición y confección de planes mantenimiento preventivo, predictivo e
                  instrucciones para la
                  realización del
                  mantenimiento correctivo de puentes grúa de entre 16 y 32 T, hornos de inducción de
                  entre 4 y 10
                  T
                  de colada,
                  mezcladoras de arena , tornos, Fresadoras; alesadoras de gran porte.
                  Responsable de ingeniería de mantenimiento y nuevos desarrollos
                  Responsable de los servicios de planta tales como electricidad, aire comprimido y
                  transporte
                  neumático de arenas.
                  Para llevar a cabo estas tareas cuento con un grupo de 68 personas formado dos jefes
                  de turno,
                  supervisores,
                  técnicos en turnos rotativos continuos, un ingeniero de mantenimiento , pañoleros y
                  personal
                  administrativo.
              </p>
          </div>

      </div>

  </section>
  <section class="container custom-section">
      <div class=" row">
          <div class="col-md" data-aos="fade-up" data-aos-offset="350" data-aos-duration="500
">
              <img src="assets/images/Flex.jpg" class="img-fluid" alt="...">
          </div>
          <div class="cb col-md">
              <p class="card-text">
                  FLEX-N-GATE ARGENTINA
                  Gerente de mantenimiento e instalaciones
                  Responsable de mantenimiento e instalaciones de planta de estampado en Lujan.
                  Responsable de la
                  relocalización
                  a su nueva planta en J.M. Jáuregui.
                  Manejo de presupuesto e ingeniería de la obra en construcción, incluyendo
                  construcción de
                  oficinas,
                  y
                  dependencias de servicio, definición de nuevas instalaciones industriales de
                  servicios ( aire
                  comprimido, agua,
                  electricidad, generación, UPS, layout, etc)
                  Formación y entrenamiento de nuevo equipo de trabajo. Formulación de planes de
                  mantenimiento de
                  equipamiento existente y equipamiento nuevo mediante la aplicación de RCM.
                  Definición,
                  ingeniería y
                  montaje
                  de nuevas instalaciones, selección y seguimiento de contratistas. Definición
                  seguimiento de KPI
                  ́s
                  del area
                  <a name="Habi"></a>
              </p>
          </div>

      </div>

  </section>
